@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
:root {
  --White: hsl(0, 0%, 100%);
  --Slate-300: hsl(212, 45%, 89%);
  --Slate-500: hsl(216, 15%, 48%);
  --Slate-900: hsl(218, 44%, 22%);
}
body {
  background-color: var(--Slate-300);
  font-family: Outfit;
}
.container {
  margin: auto;
  padding: 16px 16px 40px 16px;
  background-color: var(--White);
  width: 320px;
  height: 499px;
  border-radius: 10px;
  font-size: 15px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.container-image {
  width: 100%;
  border-radius: 10px;
}
.container-text {
  height: 131px;
  margin-top: 20px;
  padding: 0 16px;
  text-align: center;
}
.container-text-title {
  font-weight: 700;
  margin: 0;
  text-shadow: 2px 2px 4px var(--Slate-900);
  font-size: 22px;
}
.container-text-info {
  font-weight: 400;
  color: var(--Slate-500);
  margin: 0;
  margin-top: 16px;
  font-size: 16px;
}
.attribution {
  font-size: 11px;
  text-align: center;
  font-weight: 700;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
